@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#MainDiv{
  min-width: 100%;
}
#NavDiv{
  background-color: white;
  display: flex;
  min-width: 100%;
  top: 0px;
  border: 0px;
  min-height: 50px;
  position: fixed;
  flex-direction: row;
}
#Options{
  position: fixed;
  top: 60px;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  gap: 100px;
  min-height: 100%;
  background-color: white ;
  display: none;
  flex-direction: column;
}
#Options button {
 
  font-size: 50px;
  background-color: white;
  border:0px;
  min-height: 50px;
}
#Optbtn{
  display: none;
  font-size: 22px;
  background-color: white;
  border: 0px;
}
#NavDiv h1{
  color: crimson; 
  align-items: center;
  font-family: 'Lobster', sans-serif;
  min-width: 70%;
}
#deskbtn1{
  font-size: 22px;
  margin-right: 10px;
  background-color: white;
  border: 0px;
}
#deskbtn2{
  font-size: 22px;
  margin-right: 10px;
  background-color: white;
  border: 0px;
}
#deskbtn3{
  font-size: 22px;
  background-color: white;
  border: 0px;
}
#deskbtn3 a {
  color: black;
  text-decoration: none;
}
#deskbtn3mob a {
  color: black;
  text-decoration: none;
}
#About{
  padding-top: 100px;
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 100px;
}
#About a {
  outline: none;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
#About a:link{
  color: black;
  text-decoration: none;
}
#About img {
 min-width: 40%;
}
#Details{
  display: flex;
  min-width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Details h1{
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}
#Details p {
  font-family: 'Roboto', sans-serif;
}

#Projects{
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
#Projects h1 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ProjectList{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100% ;
  gap: 50px;
  display: flex;
  flex-direction: row;
}
#Project{
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  box-shadow: 4px 4px gray;
  flex-direction: column;
}
#Project img {
  object-fit: contain;
  max-width: 500px;
  
}
#MainDiv a {
  color: black;
  text-decoration: none;
}
#Project:active{
  box-shadow: 1px 1px gray;
}

#ProjectDetails{
  font-family: 'Roboto', sans-serif;
}

#TechnoDiv{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  min-width: 100%;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
#TechnoDiv li {
  font-size: 20px;
  margin-bottom: 10px;
}

@media  screen and (max-width:900px) {
  #Optbtn{
    display: flex;
    align-items: center;
  }
  #deskbtn1{
    display: none;
  }
  #deskbtn2{
    display: none;
  }
  #deskbtn3{
    display: none;
  }
  #About{
    display: flex;
    flex-direction: column;
  }
  #About img {
    max-width: 500px;
  }
  #Details{
    min-width: 100%;
  }
  
  #Details p {
    font-size: 15px ;
  }
}
@media  screen and (max-width:500px) {
  #About img {
    max-width: 100%;
  }
  #ProjectList{
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  #Project img {
    width: 100%;
    max-width: 100%;
  }

}